/*---------------------------------MAIN----------------------------------------*/

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

header {
    width: 100%;
    height: 10%;
    margin: 0;
    padding: 0;
    background-color: darkgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {

}

.title h1 {
    margin: 0;
    padding: 0;
}

main {
    width: 100%;
    height: 90%;
    margin: 0;
    padding: 0;
}


/*---------------------------------index.html----------------------------------------*/

.wrapper {
    width: 100%;
    min-height: 90vh;
    background-color: lightgrey;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

}

.users-title {
    width: 90%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

.user-blocks {
    width: 90%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.user-wrap {
    width: 40%;
    min-height: 80px;
    border: 2px solid green;
    border-radius: 10px;
    margin: 10px;
    background-color: darkgray;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.user-button {
    width: 80%;
    height: 30%;
}
